<div>


    <mat-toolbar color="primary">
        welcome
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" align="start" opened>
            <span>Please Choose Your School</span>
            <button class="button-width" mat-raised-button [matMenuTriggerFor]="schools">List of Schools</button>
            <mat-menu #schools="matMenu">
                <button mat-menu-item *ngFor="let name of names" [routerLink]="['/schooldetail',name.id]">
                    {{name.name}}
                </button>
                <!-- <button mat-menu-item>
                    EBS
                </button>
                <button mat-menu-item>
                    MLS
                </button> -->
            </mat-menu>
        </mat-sidenav>
        <!-- Body -->

    </mat-sidenav-container>
</div>